Repository zeabur/zeabur, pull requests merged in 2023-10, with the labels that each got.

#206 chore: update some images to locked latest version
  prebuilts/affine.toml
  prebuilts/apicat.toml
  prebuilts/bytebase.toml
  prebuilts/linkding.toml
  prebuilts/logto.toml
  prebuilts/maloja.toml
  prebuilts/memos.toml
  prebuilts/miniflux.toml
  prebuilts/pocketbase.toml
  prebuilts/surrealdb.toml
  prebuilts/vaultwarden.toml
Labels: prebuilt

#209 Add CI of Prebuilt Validation
  .github/workflows/check-prebuilts.yml
  scripts/check-prebuilts.py
Labels: enhancement, prebuilt

#215 docs: Update domain binding docs for APEX domain
  docs/pages/deploy/domain-binding.en-US.mdx
  docs/pages/deploy/domain-binding.zh-CN.mdx
  docs/pages/deploy/domain-binding.zh-TW.mdx
  docs/public/deploy/domain/dns-a-record.png
  docs/public/deploy/domain/dns-cname-record.png
  docs/public/deploy/domain/dns.png
  docs/public/deploy/domain/invalid.png
Labels: documentation

#216 Fix/cdn icons
  marketplace/ghost.json
  marketplace/wordpress.json
  prebuilts/ghost.toml
  prebuilts/wordpress.toml
Labels: bug, marketplace, prebuilt

#220 docs: add serverless plan
  docs/pages/billing/plans.en-US.mdx
  docs/pages/billing/plans.zh-CN.mdx
  docs/pages/billing/plans.zh-TW.mdx
Labels: documentation

#228 chore: delete useless ADMIN_ENDPOINT variable for logto
  prebuilts/logto.toml
Labels: prebuilt

#229 docs: deploy logto
  docs/pages/marketplace/logto.en-US.mdx
  docs/pages/marketplace/logto.zh-CN.mdx
  docs/pages/marketplace/logto.zh-TW.mdx
  docs/public/marketplace/logto/admin.png
  docs/public/marketplace/logto/console-domain.png
  docs/public/marketplace/logto/deploy-logto.png
  docs/public/marketplace/logto/envvar.png
  docs/public/marketplace/logto/logto-admin-button.png
  docs/public/marketplace/logto/logto-admin.png
  docs/public/marketplace/logto/logto-domain.png
  docs/public/marketplace/logto/prebuilt.png
  docs/public/marketplace/logto/web-domain.png
  docs/public/marketplace/postgresql/connect.png
  docs/public/marketplace/postgresql/create-database.png
Labels: documentation
