Repository zeabur/zeabur, pull requests merged in 2023-08, with the labels that each got.

#160 Create ttrss.json
  marketplace/ttrss.json
Labels: enhancement

#161 Create Tiny Tiny RSS Docs
  docs/pages/marketplace/ttrss.en-US.mdx
  docs/pages/marketplace/ttrss.zh-CN.mdx
  docs/pages/marketplace/ttrss.zh-TW.mdx
Labels: documentation

#163 Create miniflux.json
  marketplace/miniflux.json
Labels: marketplace

#169 Docs/improve postgresql doc
  docs/pages/databases/postgresql.en-US.mdx
  docs/pages/databases/postgresql.zh-CN.mdx
  docs/pages/databases/postgresql.zh-TW.mdx
  docs/pages/marketplace/n8n.en-US.mdx
  docs/pages/marketplace/n8n.zh-CN.mdx
  docs/pages/marketplace/n8n.zh-TW.mdx
  docs/public/databases/pgsql/pgadmin.jpg
Labels: documentation

#167 fix(marketplace): add mysql support to umami
  marketplace/umami-mysql.json
Labels: marketplace

#171 Create Botway CE
  marketplace/botway-ce.json
Labels: marketplace

#175 app: add grafana
  marketplace/grafana.json
Labels: marketplace

#176 docs: optimization for domain binding documentation
  docs/pages/deploy/domain-binding.en-US.mdx
  docs/pages/deploy/domain-binding.zh-CN.mdx
  docs/pages/deploy/domain-binding.zh-TW.mdx
  docs/public/deploy/domain/buttons.en-US.jpg
  docs/public/deploy/domain/buttons.png
  docs/public/deploy/domain/buttons.zh-CN.jpg
  docs/public/deploy/domain/buttons.zh-TW.jpg
  docs/public/deploy/domain/cloudflare.en-US.jpg
  docs/public/deploy/domain/cloudflare.png
  docs/public/deploy/domain/cloudflare.zh-CN.jpg
  docs/public/deploy/domain/cloudflare.zh-TW.png
  docs/public/deploy/domain/custom.en-US.jpg
  docs/public/deploy/domain/custom.png
  docs/public/deploy/domain/custom.zh-CN.jpg
  docs/public/deploy/domain/custom.zh-TW.jpg
  docs/public/deploy/domain/dns.png
  docs/public/deploy/domain/domain-dns.en-US.png
  docs/public/deploy/domain/domain-dns.zh-CN.png
  docs/public/deploy/domain/domain-dns.zh-TW.png
  docs/public/deploy/domain/domain.en-US.jpg
  docs/public/deploy/domain/domain.zh-CN.jpg
  docs/public/deploy/domain/generate.en-US.jpg
  docs/public/deploy/domain/generate.png
  docs/public/deploy/domain/generate.zh-CN.jpg
  docs/public/deploy/domain/generate.zh-TW.jpg
  docs/public/deploy/domain/invalid.png
Labels: documentation

#177 Docs/how to feedback
  docs/pages/_meta.en-US.json
  docs/pages/_meta.zh-CN.json
  docs/pages/_meta.zh-TW.json
  docs/pages/community/_meta.en-US.json
  docs/pages/community/_meta.zh-CN.json
  docs/pages/community/_meta.zh-TW.json
  docs/pages/community/help.en-US.mdx
  docs/pages/community/help.zh-CN.mdx
  docs/pages/community/help.zh-TW.mdx
  docs/pages/community/verify.en-US.mdx
  docs/pages/community/verify.zh-CN.mdx
  docs/pages/community/verify.zh-TW.mdx
  docs/public/community/help/example.png
  docs/public/community/help/help-channel.png
  docs/public/community/help/server.png
  docs/public/community/help/url.png
  docs/public/community/verify/authorize.png
  docs/public/community/verify/dev-plan.png
  docs/public/community/verify/verified.png
  docs/public/community/verify/verify.png
Labels: documentation

#170 fix: site icon
  docs/pages/_document.js
  docs/public/favicon.svg
Labels: bug

#178 Create linkding.json
  marketplace/linkding.json
Labels: marketplace

#182 Create maloja.json
  marketplace/maloja.json
Labels: marketplace
