Repository zeabur/zeabur, pull requests merged in 2024-05, with the labels that each got.

#420 docs: create template
  docs/pages/_meta.en-US.json
  docs/pages/_meta.ja-JP.json
  docs/pages/_meta.zh-CN.json
  docs/pages/_meta.zh-TW.json
  docs/pages/template/_meta.en-US.json
  docs/pages/template/_meta.ja-JP.json
  docs/pages/template/_meta.zh-CN.json
  docs/pages/template/_meta.zh-TW.json
  docs/pages/template/create-template.en-US.mdx
  docs/pages/template/create-template.ja-JP.mdx
  docs/pages/template/create-template.zh-CN.mdx
  docs/pages/template/create-template.zh-TW.mdx
  docs/public/template/create/section-1.png
  docs/public/template/create/section-2.png
  docs/public/template/create/section-3.png
  docs/public/template/create/services.png
  docs/public/template/create/variables.png
Labels: documentation

#426 prebuilt: add maybe
  prebuilts/maybe.toml
Labels: prebuilt

#429 prebuilt: add directus
  prebuilts/directus.toml
Labels: prebuilt

#434 feat(prebuilts): supabase-db
  prebuilts/supabase-db.toml
Labels: prebuilt

#438 feat(prebuilts): add directus admin info to instruction sections
  prebuilts/directus.toml
Labels: prebuilt

#444 docs: update invite members documentation
  docs/pages/manage/invite.en-US.mdx
  docs/pages/manage/invite.ja-JP.mdx
  docs/pages/manage/invite.zh-CN.mdx
  docs/pages/manage/invite.zh-TW.mdx
  docs/public/manage/invite/email.en-US.png
  docs/public/manage/invite/email.zh-CN.png
  docs/public/manage/invite/email.zh-TW.png
  docs/public/manage/invite/invite.png
  docs/public/manage/invite/project-config.png
  docs/public/manage/invite/project-settings.png
  docs/public/manage/invite/success.en-US.png
  docs/public/manage/invite/success.zh-CN.png
  docs/public/manage/invite/success.zh-TW.png
Labels: documentation

#447 docs: deploy linkwarden from template
  docs/pages/marketplace/linkwarden.en-US.mdx
  docs/pages/marketplace/linkwarden.ja-JP.mdx
  docs/pages/marketplace/linkwarden.zh-CN.mdx
  docs/pages/marketplace/linkwarden.zh-TW.mdx
  docs/public/marketplace/linkwarden/deployment.png
  docs/public/marketplace/linkwarden/region.png
  docs/public/marketplace/linkwarden/template.png
Labels: documentation

#448 docs: deploy n8n from template
  docs/pages/marketplace/n8n.en-US.mdx
  docs/pages/marketplace/n8n.ja-JP.mdx
  docs/pages/marketplace/n8n.zh-CN.mdx
  docs/pages/marketplace/n8n.zh-TW.mdx
  docs/public/marketplace/n8n/database-n8n.png
  docs/public/marketplace/n8n/database-tab.png
  docs/public/marketplace/n8n/deploy.png
  docs/public/marketplace/n8n/deployment.png
  docs/public/marketplace/n8n/region.png
  docs/public/marketplace/n8n/template.png
Labels: documentation

#446 docs: deploy ghost from template
  docs/pages/marketplace/ghost.en-US.mdx
  docs/pages/marketplace/ghost.ja-JP.mdx
  docs/pages/marketplace/ghost.zh-CN.mdx
  docs/pages/marketplace/ghost.zh-TW.mdx
  docs/public/marketplace/ghost/deploy-ghost.png
  docs/public/marketplace/ghost/deploy-mysql.png
  docs/public/marketplace/ghost/deployment.png
  docs/public/marketplace/ghost/ghost-admin-dashboard.png
  docs/public/marketplace/ghost/ghost-domain.png
  docs/public/marketplace/ghost/ghost-env.png
  docs/public/marketplace/ghost/ghost-suspend.gif
  docs/public/marketplace/ghost/region.png
  docs/public/marketplace/ghost/setup.png
  docs/public/marketplace/ghost/template.png
Labels: documentation

#441 prebuilt: add weaviate
  prebuilts/weaviate.toml
Labels: prebuilt

#450 docs: deploy umami from template
  docs/pages/marketplace/n8n.en-US.mdx
  docs/pages/marketplace/n8n.ja-JP.mdx
  docs/pages/marketplace/n8n.zh-CN.mdx
  docs/pages/marketplace/n8n.zh-TW.mdx
  docs/pages/marketplace/umami.en-US.mdx
  docs/pages/marketplace/umami.es-ES.mdx
  docs/pages/marketplace/umami.ja-JP.mdx
  docs/pages/marketplace/umami.zh-CN.mdx
  docs/pages/marketplace/umami.zh-TW.mdx
  docs/public/marketplace/umami/deploy-postgresql.png
  docs/public/marketplace/umami/deploy-umami.png
  docs/public/marketplace/umami/deployment.png
  docs/public/marketplace/umami/postgre-connect.png
  docs/public/marketplace/umami/region.png
  docs/public/marketplace/umami/screenshot.png
  docs/public/marketplace/umami/template.png
  docs/public/marketplace/umami/umami-domain.png
Labels: documentation

#451 prebuilt: wewew-rss
  prebuilts/wewe-rss.toml
Labels: prebuilt

#455 Prebuilt/add template url
  prebuilts/affine.toml
  prebuilts/artalk.toml
  prebuilts/chatgpt-plus-web.toml
  prebuilts/directus.toml
  prebuilts/featbit-ui.toml
  prebuilts/ghost.toml
  prebuilts/halo.toml
  prebuilts/heyform.toml
  prebuilts/librechat.toml
  prebuilts/linkding.toml
  prebuilts/linkwarden.toml
  prebuilts/lobe-chat.toml
  prebuilts/logto.toml
  prebuilts/maybe.toml
  prebuilts/memos.toml
  prebuilts/metabase.toml
  prebuilts/miniflux.toml
  prebuilts/mongodb.toml
  prebuilts/mysql.toml
  prebuilts/n8n.toml
  prebuilts/new-api.toml
  prebuilts/nocobase.toml
  prebuilts/one-api.toml
  prebuilts/plausible.toml
  prebuilts/pocketbase.toml
  prebuilts/rss3-node.toml
  prebuilts/rsshub.toml
  prebuilts/schema.json
  prebuilts/slash.toml
  prebuilts/statusnook.toml
  prebuilts/supabase-db.toml
  prebuilts/teable.toml
  prebuilts/ttrss.toml
  prebuilts/unami.toml
  prebuilts/uptime-kuma.toml
  prebuilts/wallos.toml
  prebuilts/wewe-rss.toml
  prebuilts/wordpress.toml
Labels: enhancement, prebuilt
