Repository zeabur/zeabur, pull requests merged in 2024-03, with the labels that each got.

#345 wip: add Spanish support
  dashboard/locales/es-ES/account.json
  dashboard/locales/es-ES/auth.json
  dashboard/locales/es-ES/billing.json
  dashboard/locales/es-ES/common.json
  dashboard/locales/es-ES/deploy.json
  dashboard/locales/es-ES/deployment.json
  dashboard/locales/es-ES/error.json
  dashboard/locales/es-ES/header.json
  dashboard/locales/es-ES/invite.json
  dashboard/locales/es-ES/login.json
  dashboard/locales/es-ES/modals.json
  dashboard/locales/es-ES/overview.json
  dashboard/locales/es-ES/pricing.json
  dashboard/locales/es-ES/project-list.json
  dashboard/locales/es-ES/project.json
  dashboard/locales/es-ES/service.json
  dashboard/locales/es-ES/settings.json
  dashboard/locales/es-ES/template.json
  dashboard/locales/es-ES/toast.json
  dashboard/locales/es-ES/toolbar.json
Labels: locales

#348 Locales/billing
  dashboard/locales/en-US/billing.json
  dashboard/locales/es-ES/billing.json
  dashboard/locales/zh-CN/billing.json
  dashboard/locales/zh-TW/billing.json
Labels: locales

#349 docs: update regions introduction in get started documentation
  docs/pages/get-started.en-US.mdx
  docs/pages/get-started.ja-JP.mdx
  docs/pages/get-started.zh-CN.mdx
  docs/pages/get-started.zh-TW.mdx
  docs/public/start/create-project.png
Labels: documentation

#350 docs: update services type in get started
  docs/pages/get-started.en-US.mdx
  docs/pages/get-started.ja-JP.mdx
  docs/pages/get-started.zh-CN.mdx
  docs/pages/get-started.zh-TW.mdx
  docs/public/start/project.png
  docs/public/start/select-service-type.png
Labels: documentation

#355 docs: project budget
  docs/pages/manage/_meta.en-US.json
  docs/pages/manage/_meta.ja-JP.json
  docs/pages/manage/_meta.zh-CN.json
  docs/pages/manage/_meta.zh-TW.json
  docs/pages/manage/budget.en-US.mdx
  docs/pages/manage/budget.ja-JP.mdx
  docs/pages/manage/budget.zh-CN.mdx
  docs/pages/manage/budget.zh-TW.mdx
  docs/public/manage/budget/budget-entry.png
  docs/public/manage/budget/budget-page.png
Labels: documentation

#356 docs: update pricing
  docs/pages/billing/pricing.en-US.mdx
  docs/pages/billing/pricing.ja-JP.mdx
  docs/pages/billing/pricing.zh-CN.mdx
  docs/pages/billing/pricing.zh-TW.mdx
Labels: documentation

#358 locales: project settings
  dashboard/locales/en-US/project.json
  dashboard/locales/es-ES/project.json
  dashboard/locales/zh-CN/project.json
  dashboard/locales/zh-TW/project.json
Labels: locales

#359 docs: update dns config
  docs/pages/deploy/domain-binding.en-US.mdx
  docs/pages/deploy/domain-binding.ja-JP.mdx
  docs/pages/deploy/domain-binding.zh-CN.mdx
  docs/pages/deploy/domain-binding.zh-TW.mdx
Labels: documentation

#363 docs: fix broken login link in get started page
  docs/pages/get-started.en-US.mdx
  docs/pages/get-started.ja-JP.mdx
  docs/pages/get-started.zh-CN.mdx
  docs/pages/get-started.zh-TW.mdx
Labels: bug, documentation

#366 docs: add cloudflare proxy remind
  docs/pages/deploy/domain-binding.en-US.mdx
  docs/pages/deploy/domain-binding.ja-JP.mdx
  docs/pages/deploy/domain-binding.zh-CN.mdx
  docs/pages/deploy/domain-binding.zh-TW.mdx
Labels: documentation

#374 prebuilt: add rss3 node
  prebuilts/rss3-node.toml
Labels: prebuilt

#375 add custom start command for rss3 node
  prebuilts/rss3-node.toml
Labels: bug, prebuilt

#382 prebuilt: add linkwarden
  prebuilts/linkwarden.toml
Labels: prebuilt

#384 fix: linkwarden nextauth variables
  prebuilts/linkwarden.toml
Labels: bug, prebuilt
